body {
    background-color: #000;
}

main {
    background-color: #0b0b0b;
    border-color: #272727;
    color: #858585;
}

h1 {
    background-color: #272727;
    color: #c4c4c4;
}

h2 {
    color: #c4c4c4;
}

h3 {
    background-color: #272727;
    color: #c4c4c4;
}

em {
    color: #bc7000;
}