body {
    background-color: #deefff;
}

main {
    background-color: #fff;
    border-color: #2196f3;
    color: #000;
}

h1 {
    background-color: #2196f3;
    color: #fff;
}

h2 {
    color: #2196f3;
}

h3 {
    background-color: #2196f3;
    color: #fff;
}

h4 {
    color: #2196f3;
}

em {
    color: #bc7000;
}

td {
    background-color: #deefff
}

th {
    background-color: #2196f3;
    color: #fff;
}