/* 
 * Здесь будут базовые стили применяемые для всех тем
 * Всегда используйте em для font-size;
 * Для 
**/

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px 1px 10px;
    border-width: 2px;
    border-radius: 25px;
    padding: 0;
    border-style: solid;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 2px 25px;
    font-size: 1.3em;
}

h2 {
    font-size: 1.3em;
    margin: 15px 10px;
}

h3 {
    border-radius: 25px;
    font-size: 1.3em;
    padding: 4px 25px;
    margin: 15px 0;
}

h4 {
    padding: 4px 25px;
    margin: 15px 0;
}

p {
    margin: 15px 10px;
}

em {
    font-style: inherit;
}

table {
    margin: 2px;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    border-width: 1px;
    border-style: solid;
    font-size: .8em;
    padding: 2px;
}

td+th, td~th {
    writing-mode: vertical-rl;
    text-orientation: mixed;;
}